---
# VRHI C++ Code Style Configuration
# Based on LLVM style with customizations for modern C++23

BasedOnStyle: LLVM

# Language and Standard
Language: Cpp
Standard: c++23

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
NamespaceIndentation: None
IndentCaseLabels: true
IndentPPDirectives: AfterHash

# Line Length
ColumnLimit: 120

# Braces
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

# Spacing
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments: true

# Pointers and References
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

# Includes
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  # Project headers
  - Regex: '^"VRHI/'
    Priority: 1
  # C++ standard library
  - Regex: '^<(algorithm|array|atomic|cassert|cctype|cerrno|cfloat|chrono|climits|cmath|compare|concepts|condition_variable|cstddef|cstdint|cstdio|cstdlib|cstring|ctime|deque|exception|expected|filesystem|format|forward_list|fstream|functional|future|initializer_list|iomanip|ios|iosfwd|iostream|istream|iterator|limits|list|locale|map|memory|memory_resource|mutex|new|numbers|numeric|optional|ostream|queue|random|ranges|ratio|regex|scoped_allocator|set|shared_mutex|span|sstream|stack|stdexcept|stop_token|streambuf|string|string_view|system_error|thread|tuple|type_traits|typeindex|typeinfo|unordered_map|unordered_set|utility|valarray|variant|vector|version)>'
    Priority: 2
  # C standard library
  - Regex: '^<c(assert|ctype|errno|float|limits|locale|math|setjmp|signal|stdarg|stddef|stdint|stdio|stdlib|string|time|wchar|wctype)\.h>'
    Priority: 3
  # Third-party libraries (Vulkan, OpenGL, etc.)
  - Regex: '^<(vulkan|vk_|GL|GLFW|SDL)/'
    Priority: 4
  # System headers
  - Regex: '^<.*\.h>'
    Priority: 5
  # Catch-all for other headers
  - Regex: '.*'
    Priority: 6

# Breaking
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakStringLiterals: true

# Other
AccessModifierOffset: -4
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
CompactNamespaces: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
EmptyLineBeforeAccessModifier: LogicalBlock
FixNamespaceComments: true
IndentAccessModifiers: false
IndentWrappedFunctionNames: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
ReflowComments: true
SeparateDefinitionBlocks: Always
SortUsingDeclarations: true
